.background-color {
  background-color: rgb(239, 239, 239);
}
.white-backgroundcolor {
  background-color: white;
}
.blue-backgroundcolor {
  background-color: rgb(88, 157, 248);
}
.white-color {
  color: rgb(255, 255, 255);
}

.box-shadow{
  -webkit-box-shadow: 2px 5px 12px -5px rgba(110,110,110,0.52); 
  box-shadow: 2px 5px 12px -5px rgba(110,110,110,0.14);
}

.gray-backgroundcolor{
  background-color: #f8f8f8;
}

.border-blue{
  border-bottom: 1px solid #589df8;
}

.red-backgroundcolor{
  background-color: rgb(233, 121, 121);
}

.gray-color{
  color: #c0c0c0;
}

.dark-gray-color{
  color: #979797;
}

.font-italic{
  font-style: italic;
}

.green-backgroundcolor{
  background-color: rgb(103, 214, 103);
}

.font-family{
  font-family: 'League Spartan', sans-serif;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(252, 252, 252);
}

::-webkit-scrollbar{
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(157, 203, 255);
}

.blue-color{
  color: #589df8;
}

.border-color-gray{
  border-color: #f1f1f1;
}

::placeholder{
  color: black;
}

.opacity-background{
  background-color: rgb(242, 242, 242)
}

.box-shadow-clearer{
  -webkit-box-shadow: 0px 1px 8px 9px rgba(0,0,0,0.06);
  box-shadow: 0px 1px 8px 9px rgba(0,0,0,0.06);
}

.width-almost-full{
  width: 80vw;
}

.background-gradient{
  background: rgb(82,166,255);
  background: linear-gradient(222deg, rgba(82,166,255,1) 1%, rgba(131,186,245,1) 63%, rgba(194,223,254,1) 100%);
}

.blue-border{
  border-color: #589df8;
}

.button:hover{
  background-color: #daeaff;
}